:root {
    --text: #071f1a;
    --background: #effcf9;
    --primary: #30d2ae;
    --secondary: #8688e4;
    --accent: #9365dd;  
    --warning: #cf2d51;
    --low: #fdc500;
    --medium: #fd8c00;
    --high: #dc0000;
}


@font-face {
    font-family: Poppins;
    src: url(assests/Poppins-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins, Tahoma, Geneva, Verdana, sans-serif;
}

.container {
 display: flex;
}

button {
    border: none;
    background-color: transparent;
}

body{
    background-color: var(--background);
    color: var(--text);
}
/* Sidebar */

.sidebar {
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    box-sizing: border-box;
    gap: 40px;
    padding: 40px;
    border-style: 0px 0px 1px 0px;
    overflow: hidden;
}

.sidebar-lists > ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

ul {
    list-style-type: none;
}

.sidebar-title{
    display: flex;
    justify-content: space-between;
}

.sidebar-lists button {
    font-size: 1rem;
}

.sidebar-lists button {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.sidebar button:hover {
    box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.03);
    border-radius: 5px;
}

.sidebar-title > button {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-title > button:hover {
    border-radius: 50%;
}

.sidebar-title img {
    width: 35px;
}

.sidebar-lists button > img {
    width: 35px;
}

.sidebar-title > h1{
    font-size: 2rem;
}

.sidebar-title > img {
    width: 40px;
}

.sidebar-projects {
    display: flex;
    flex-direction: column;
}


.sidebar-projects > h2 {
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

.sidebar-projects > h2 > button { 
    background-color: var(--primary);
    border-radius: 50%;
    padding: 2px;
    display: flex;
}

.sidebar-projects > h2 > button:hover {
    border-radius: 50%;
    fill: var(--background);
}

/* Page title*/
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: start;
    padding: 60px
}

.main > h1 {
    margin-bottom: 30px;
}

.main  > hr {
    height: 3px;
    width: 100%;
    border-width: 0;
    background-color: var(--secondary);
    margin-bottom: 5px;
}

/* Add task button */
.main > button {
    display: flex;
    align-items: end;
}
.main > button:hover {
    color: var(--primary);
    fill: var(--primary);
}

/* Add task dialog box*/

input,
select {
    font-family: inherit;
    font-size: 100%;

    width: 400px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    border: none;
    background-color: transparent;
}

input:focus,
select:focus {
    border-style: solid;
    border-radius: 5px;
    border-width: 0px 0px 2px 0px;
    border-color: var(--accent);
    outline:none;
}

dialog[open] {
    border: none;
    background-color: var(--background);
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    position: fixed;
    inset: 0 0 0 0;
    margin: auto;
}

dialog[open] > form {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form > div:first-child {
    display: flex;
}

form > div:first-child > button:hover{
    fill: var(--accent);
}

form > div:first-child > input {
    font-size: 2rem;
}

form > div:nth-child(n+3):nth-child(-n+4){
    display: flex;
    flex-direction: column;
}

form > input {
    background-color: transparent;
}

option[value='low'], .low{
    color: var(--low);
}

option[value='medium'], .medium{
    color: var(--medium);
}

option[value='high'], .high{
    color: var(--high);
}

form > button {
    background-color: var(--primary);
    font-size: 1.1rem;
    border-radius: 5px;
}

form > button:hover {
    color: var(--background);
    box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.03);
}


/* task */
#tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 5px;
}

.task > h3 {
    margin-right: auto;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.35rem;
  height: 1.35rem;
  border: 0.15rem solid var(--text);
  border-radius: 0.15rem;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
}


input[type="checkbox"]::before {
    content: "";
    width: 0.85rem;
    height: 0.85rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--text);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

.editTask,
.removeTask {
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
    background-color: rgba(0, 0, 0, 0.06);
    color: var(--text);
}

.editTask:hover {
    background-color: var(--primary);
}

.removeTask:hover {
    background-color: var(--warning); 
}

.crossOut {
    text-decoration: line-through;
    text-decoration-thickness: 0.1rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.3);
}