* {
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    border: none;
    background-color: transparent;
}

html, body{
    height: 100%;
}

.sidebar {
    background-color: #FFE5CA;
    display: flex;
    flex-direction: column;
    width: 200px;
    min-height: 100%;
    gap: 40px;
    padding: 20px;
}

.sidebar-lists > ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

ul {
    list-style-type: none;
}

.sidebar-title{
    display: flex;
    justify-content: space-between;
}

.sidebar-lists button {
    font-size: 1.2rem;
}

.sidebar-lists button {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.sidebar button:hover {
    box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.03);
    border-radius: 5px;
}

.sidebar-title button {
    width: 50px;
}

.sidebar-title img {
    height: 100%;
}

.sidebar-lists button > img {
    width: 35px;
}

.sidebar-title{
    font-size: 1.3rem;
}
.sidebar-title > img {
    width: 40px;
}